
    body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin-bottom: 5px;
}

/* Even and odd row background colors */
ul:nth-child(even) {
    background-color: #f2f2f2;
}

ul:nth-child(odd) {
    background-color: #ffffff;
}
